[user]
	name = Higoodtogo
	email = higoodtogo@gmail.com

[url "https://higoodtogo:{{ (bitwarden "item" "Github Hgtg Access Token" ).login.password }}@github.com/higoodtogo/"]
	insteadOf = https://github.com/higoodtogo/
